<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<hr>
<br>
<h1>Hamma kutubhonachilarlar ro'yhati</h1>
<br>
<hr>
<br>
{% for l in lib %}
    <h2>{{l.ism}},{{l.ish_vaqti}}
        <a href="/lib/{{l.id}}/tahrirlash/"><button>Tahrirlash</button></a>
    {% endfor %}</h2>
<br>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
<!--    <input type="text" name="ismi" placeholder="Talaba ismi">-->
<!--    <input type="number" name="k" placeholder="Kurs">-->
<!--    <input type="text" name="k_s" placeholder="Kitob nomi">-->
    <button>Qo'shish</button>
</form>
</body>
</html>