<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recordlar</title>
</head>
<body>
<br>
<hr>
<br>
<h1>Hamma recordlar ro'yhati</h1>
<br>
<hr>
<br>
{% for record in records %}
    <h2>{{record.talaba}},{{record.kitob}},{{record.kutubhonachi}}
        <a href="/record/{{record.id}}/tahrirlash/"><button>Tahrirlash</button></a>
    {% endfor %}</h2>
<br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Qo'shish</button>
    </form>
</body>
</html>